.calculator {
  background-color: lightgrey;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

#display {
  border: 1px solid black;
  height: 20px;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator button {
  border: 1px solid black;
  margin: 5px;
  width: 25px;
}

.calculator button:hover {
  background-color: rgb(190, 190, 190);
}

#clear {
  width: 60px;
}

